@*@model IEnumerable<RealtyDomainObjects.PropertyType>*@
@{
    var PropertyTypes = ViewBag.PropertyTypes as SelectList;
}
@using (Html.BeginForm("SearchByParams", "SearchBox", FormMethod.Get))
{

    <div style="display: inline">
        <div style="display: inline-block; width: 200px">
        
            @Html.DropDownList("PropertyType",  PropertyTypes, 
            new { data_controler = "searchbox", data_propertyAction = "PropertyAction", @class = "searchBoxDDL" })


        </div>
        <div id="PropertyTypeActionDiv" style="display: none">@*display: inline-block*@
            @Html.DropDownList("PropertyTypeAction", 
            (ViewBag.propertyTypeAction != null ? (SelectList)ViewBag.propertyTypeAction : new SelectList(string.Empty, string.Empty))
            , new { data_controler = "searchbox", data_propertyAction = "PropertyCities", @class = "searchBoxDDL" })
        </div>
        <div id="PropertyTypeCitiesDiv" style="display: none">
            @Html.DropDownList("PropertyTypeCities",
         (ViewBag.propertyTypeCities != null ? (SelectList)ViewBag.propertyTypeCities : new SelectList(string.Empty, string.Empty))
         , new { data_controler = "searchbox", data_propertyAction = "PropertyCityDistricts", @class = "searchBoxDDL" })
        </div>
        <div id="PropertyTypeCityDistrictDiv" style="display: none">
            @Html.DropDownList("PropertyTypeCityDistrict", 
            (ViewBag.propertyTypeCityDistrict!=null?(SelectList)ViewBag.propertyTypeCityDistrict:new SelectList(string.Empty, string.Empty))
            , new { @class = "searchBoxDDL" })
        </div>
    </div>

}
@Html.Hidden("adid",(ViewBag.AdId!=null?((int)ViewBag.AdId).ToString():"-1"))